
.service_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 45px;

    font-weight: 900;
    font-size: 24px;
    line-height: 30px;  
    color: #FFFFFF;
}

@media (max-width: 803px) {
    .service_item {
        width: 100%;

    }
    .service_desc {
        margin-left: 34px;
    }
}