
.service_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 45px;

    font-weight: 900;
    font-size: 24px;
    line-height: 30px;  
    color: #FFFFFF;
}
