.footer {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    font-weight: 300;
    font-size: 14px;
}
@media (max-width: 803px) {
    .footer {
        padding: 41px 0 36px;
    }
}
